$headerHeight: 3.5em;
$fontSize: 1em;

.header{
  background-color: $highlightBackground;
  width: 100%;
  height: $headerHeight;

  a{
    color: $headerLink;
    text-decoration: none;

    &:hover{
      color: $headerLinkActive;
      text-decoration: underline;
    }
  }

  .smLink, .logo{
    height: 100%;
    width: 33%;
  }

  .smLink, .social{
    font-size: fontSize;
    line-height: ($headerHeight - $fontSize + 1);
  }

  .smLink{
    text-indent: 25px;
  }

  .share{
    text-align: center;

    .share-icon{
      cursor: pointer;
      color: $headerLink;
      line-height: ($headerHeight - $fontSize + 1);
      &:hover{
        color: $headerLinkActive;
      }
    }
  }

  .logo{
    background-image: image-url($logoPath);
    background-size: auto ($headerHeight - 1em);
    background-repeat: no-repeat;
    background-position: right 25px center;
  }
}