@import "header";
@import "statisticsPane";

.info-pane{
  background-color: $mainBackground;
  width: 25%;
  height: 100%;
  max-width: 450px;
  min-width: 360px;

  .main{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .intro-text {
    padding: 25px 25px 0;
  }

  .statistics-pane{
    padding: 0 25px 25px;
  }

}