@import "compass/css3/animation";

.statistics-pane{

  .location-name{
    height: 48px;
    text-transform: capitalize;
  }

  table{
    width: 100%;
  }

  .living-wage-col, .wage-gap-col{
    width: 33.333%;
    text-transform: uppercase;
  }

  .minimum-wage-col{
    width: 33.334%;
    text-transform: uppercase;
  }

  .wage-gap-col h6, .wage-gap-col .stat-value{
    color: $mainCallout;
  }

  .wage-gap-col[data-positive-gap="true"] h6, .wage-gap-col[data-positive-gap="true"] .stat-value{
    color: $secondaryCallout;
  }

  .wage-headings{
    margin: 20px 0 10px;

    h6{
      font-weight: bold;
    }
  }

  .wage-group{
    padding: 10px 0;
    border-top: 1px solid $mainColor;

    .class-heading, table.stats{
      opacity: 0.2;
      @include animation(disabledFade 0.5s);
    }

    &:hover {
      .class-heading, table.stats{
        opacity: 0.4;
      }
      cursor: pointer;
    }

    &.active {
      .class-heading, table.stats{
        opacity: 1;
        @include animation(activeFade 0.5s);
      }
    }

    .stat-value{
      font-weight: bold;
      font-size: 1.5em;
      margin: 0;
    }
  }

  .content-area{
    height: 0;

    .graph{
      height: 100%;
      width: 100%;

      .living-wage-col, .minimum-wage-col, .wage-gap-col{
        position: relative;
      }

      .graph-bar, .graph-bar-spacer{
        position: absolute;
        width: 90%;
      }

      .living-wage-col .graph-bar, .minimum-wage-col .graph-bar{
        bottom: 0;
      }

      .living-wage-col .graph-bar{
        background-color: $highlightBackground;
      }

      .minimum-wage-col .graph-bar{
        background-color: $mainColor;
      }

      .wage-gap-col .graph-bar{
        background-color: $mainCallout;
      }

      .wage-gap-col[data-positive-gap="true"] .graph{
        background-color: $secondaryCallout;
      }
    }
  }

}

@include keyframes(activeFade) {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(disabledFade) {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}