@import "compass/css3/animation";

.statistics-pane{

  .location-name{
    height: 48px;
    text-transform: capitalize;
  }

  table{
    width: 100%;
  }

  .living-wage-col, .wage-gap-col{
    width: 33.333%;
    text-transform: uppercase;
  }

  .minimum-wage-col{
    width: 33.334%;
    text-transform: uppercase;
  }

  .wage-gap-col h6, .wage-gap-col .stat-value{
    color: $mainCallout;
  }

  .wage-gap-col[data-positive-gap="true"] h6, .wage-gap-col[data-positive-gap="true"] .stat-value{
    color: $secondaryCallout;
  }

  .wage-group{
    width: 100%;
    background-color: $mainBackground;

    &:not(.active){
      border-top: 1px solid $mainColor;
      border-bottom: 1px solid $mainColor;

      // .disabled-hidden{
      //   display: none;
      // }
    }

    .heading-area{
      padding: 10px 0;
    }

    table .class-heading{
      width: 145px;
      padding: 0 15px 8px 0;
      margin-bottom: 10px;
      font-size: 1.2em;
      line-height: 1.1em;
      font-weight: bold;
    }

    .class-heading-table td{
      vertical-align: bottom;
    }

    .class-diagram{
      height: 100px;
    }


    .class-heading, table.stats{
      opacity: 0.2;
      @include animation(disabledFade 0.75s);
    }

    &:hover {
      .class-heading, table.stats{
        opacity: 0.4;
      }
      cursor: pointer;
    }

    &.active {
      z-index: 1;

      // .active-hidden{
      //   display: none;
      // }

      .class-heading, table.stats{
        opacity: 1;
        @include animation(activeFade 0.75s);
      }

      .heading-area{
        padding-bottom: 0;
      }

      .content-area{
        padding-bottom: 10px;
      }

      .stat-value{
        font-size: 1.6em;
      }
    }

    .stat-value{
      font-weight: bold;
      font-size: 1.2em;
      margin: 0;
    }

    .content-area{

      .category-headings{
        h6{
          font-size: 0.8em;
        }
      }
    }
  }

}

@include keyframes(activeFade) {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(disabledFade) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}