@import "compass/reset";
@import "typography";

.app{
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .content{
    height: 100%;
    width: 100%;
  }

  .region-right{
    position: absolute;
    right: 0;
  }

  .region-left, .region-center, .region-top, .region-bottom{
    position: absolute;
    left: 0;
  }

  .region-bottom{
    bottom: 0;
  }

  /* Custom Webkit Scrollbar */
  body:not(.touch), #info-pane{
    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    ::-webkit-scrollbar-thumb {
      background: $light-gray;
    }
  }
}