@import "compass/css3/animation";

.intro{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $mainBackground;
  background-image: image-url($introImage);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1001;

  .intro-text{
    position: absolute;
    height: 50vh;
    top: calc(25vh);
    width: 60vw;
    left: 20vw;

    .header-col{
      text-align: right;
      padding-right: 25px;
      border-right: 6px solid $mainCallout;

      h1{
        font-size: 4em;
        margin: 0;
      }
    }

    .content-col{
      padding-left: 25px;
      border-left: 6px solid $mainCallout;
      font-size: 1.2em;

      p{
        margin: 0;
      }

    }
  }

}

.explore-wrapper{
  display: none;
  position: absolute;
  bottom: 20px;
  left: calc(50vw - 75px);
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 75px;
  opacity: 0.65;
  z-index: 10000;

  &:hover{
    background-color: $mainColor;
    color: #fff;
    cursor: pointer;

    .explore-text, .icon-down-open{
      color: $mainBackground;
    }
  }

  .explore-text{
    margin-top: 28px;
    font-size: 1.2em;
  }

  .icon-down-open{
    margin-top: -80px;
    font-size: 100px;
  }
}

.pace-done .explore-wrapper{
  display: block;
  opacity: 0;
}

body .pace, body .loading-placeholder{
  width: 200px;
  height: 15px;
  top: auto;
  bottom: 75px;
  left: calc(50% - 102px);
  border-radius: 5px;
  border: 2px solid #ccc;
}

body.pace-done .pace-inactive, .pace-done .loading-placeholder, .pace-done .loading-text{
  display: block;
}

.loading-placeholder{
  position: fixed;
  background-color: #fff;
  z-index: 1500;
}

.loading-text{
  position: fixed;
  width: 204px;
  height: 15px;
  margin: 0;
  text-align: center;
  left: calc(50% - 102px);
  bottom: 77px;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: bold;
  z-index: 2001;
}

