@import "compass/css3/animation";

.intro{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: $mainBackground;
  background-image: image-url($introImage);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 999999;

  .mobile-intro{
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;

    h1{
      margin: 25px;
    }

    p{
      margin: 0 25px 15px;
    }
  }

  .mobile-intro-wrapper{

    .explore-wrapper, .loading-wrapper{
      display: none;
    }
  }

  .mobile-backgound-fill{
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: $mainBackground;
    z-index: 0;
  }

  .intro-text{
    position: absolute;
    height: 50vh;
    top: calc(25vh);
    width: 60vw;
    left: 20vw;

    .header-col{
      text-align: right;
      padding-right: 25px;
      border-right: 6px solid $mainCallout;

      h1{
        font-size: 4em;
        margin: 0;
        line-height: 1em;
      }
    }

    .content-col{
      padding-left: 25px;
      border-left: 6px solid $mainCallout;
      font-size: 1.2em;

      p{
        margin: 0;
      }

    }
  }

}

.explore-wrapper{
  display: block;
  position: absolute;
  bottom: 20px;
  left: calc(50vw - 75px);
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 75px;
  opacity: 0;
  z-index: 10000;

  &:hover{
    background-color: $mainColor;
    color: #fff;
    cursor: pointer;

    .explore-text, .icon-down-open-big{
      color: $mainBackground;
    }
  }

  .explore-text{
    margin-top: 28px;
    font-size: 1.2em;
  }

  .icon-down-open-big{
    margin-top: -80px;
    font-size: 100px;
  }
}

.loading-wrapper{
  position: absolute;
  width: 180px;
  bottom: 50px;
  margin: 0;
  text-align: center;
  left: calc(50% - 90px);
  background-color: $mainBackground;
  border-radius: 10px;
  opacity: 0.7;

  .loading-img{
    width: 70px;
  }

  .loading-text{
    margin-top: -15px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
  }

}

