.intro{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $contentBackground;
  background-image: image-url($introImage);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 10000;
}