@import "compass/css3/filter";
@import "compass/css3/animation";

.map {
  background-color: $contentBackground;

  .county-toggle-wrapper{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;

    .btn-toggle{
      text-align: center;
      font-size: 1.2em;
      padding: 10px;
      border: 1px solid $mainColor;
      color: $mainBackground;
      background-color: $highlightBackground;

      &:not(.active){
        cursor: pointer;

        &:hover{
          background-color: #999;
        }
      }

      &.active{
        font-weight: bold;
        color: $mainColor;
        background-color: $mainBackground;
        cursor: default;
      }
    }
  }

  &.leaflet-container .leaflet-clickable{
    cursor: none !important;
  }

  .living-wage-labels-layer{
    @include animation(labelsToBlack 2s);
  }

  &[data-active-layer="working-parent-counties"] .living-wage-labels-layer{
    @include filter(invert(1) brightness(1.25) contrast(1.1));
    @include animation(labelsToWhite 1s);
  }

  // .leaflet-tile{
  //   filter:blur(10px);
  //   opacity: 0;
  //   transform: rotate( 0deg ) scale(0);
  // }
  // .leaflet-tile.leaflet-tile-loaded{
  //   filter:blur(0);
  //   opacity: 1;
  //   transform: rotate( 360deg ) scale(1);
  //   transition:.8s all ease-in;
  // }
}

@include keyframes(labelsToWhite) {
  0% {
    @include filter(invert(0) brightness(1) contrast(1));
  }
  100% {
    @include filter(invert(1) brightness(1.25) contrast(1.1));
  }
}

@include keyframes(labelsToBlack) {
  0% {
    @include filter(invert(1) brightness(1.25) contrast(1.1));
  }
  100% {
    @include filter(invert(0) brightness(1) contrast(1));
  }
}