// Backgrounds
$mainBackground: #fff;
$contentBackground: #cfd0d4;
$highlightBackground: #838485;

// Type/Content Colors
$mainColor: #000;
$mainCallout: #ce0900;
$secondaryCallout: #18973e;
$headerLink: #dadada;
$headerLinkActive: #fff;

$light-gray: #ccc;
